<div class="header">
    <div>
        <button class="btn btn-default hamburger" (click)="NgxAsidePanelLeft.show()">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button> Show aside from the left side
    </div>
    <div>
        Show aside from the right side
        <button class="btn btn-default hamburger" (click)="NgxAsidePanelRight.show()">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>

    </div>

</div>


<ngx-aside #NgxAsidePanelLeft [position]="'left'" [title]="'Aside title'" [cancelButtonTitle]="'Discard'" [submitButtonTitle]="'Send'">
    <h1> Test Aside Left panel</h1>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
    vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
    metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
    nisi.
</ngx-aside>


<ngx-aside #NgxAsidePanelRight (cancel)="onCancel()" (submit)="onSave()" [position]="'right'" [closeOnEscape]="false" [showOverlay]="false"
    [showDefaultFooter]="false" [showDefaultHeader]="false">

    <header style="padding: 10px; background-color:#607d8b; color: #fafafa ">My own header with own styles</header>

    <h1>Sidebar content</h1>

    <footer style="padding: 20px; background-color: #009688;">
        My own footer, with custom buttons
        <button (click)="NgxAsidePanelRight.hide()">
            Close
        </button>
    </footer>

</ngx-aside>

<div class="demo">
    <pre style="background:#fff;color:#000">
Left:
<span style="color:#3a4a64">&lt;<span style="color:#3a4a64">ngx</span><span style="color:#3a4a64">-aside</span> #<span
        style="color:#3a4a64">NgxAsidePanelLeft</span>
           [<span style="color:#3a4a64">position</span>]=<span style="color:#409b1c">"'left'"</span>
           [<span style="color:#3a4a64">title</span>]=<span style="color:#409b1c">"'Aside title'"</span>
           [<span style="color:#3a4a64">cancelButtonTitle</span>]=<span style="color:#409b1c">"'Discard'"</span>
           [<span style="color:#3a4a64">submitButtonTitle</span>]=<span style="color:#409b1c">"'Send'"</span>
></span>
    <span style="color:#3a4a64">&lt;<span style="color:#3a4a64">h1</span>></span> Test Aside Left panel<span
        style="color:#3a4a64">&lt;/<span style="color:#3a4a64">h1</span>></span>
    <span style="color:#3a4a64">&lt;<span style="color:#3a4a64">code</span>></span>Default configuration<span
        style="color:#3a4a64">&lt;/<span style="color:#3a4a64">code</span>></span>
<span style="color:#3a4a64">&lt;/<span style="color:#3a4a64">ngx</span><span style="color:#3a4a64">-aside</span>></span>

Right:
<span style="color:#3a4a64">&lt;<span style="color:#3a4a64">ngx</span><span style="color:#3a4a64">-aside</span> #<span
        style="color:#3a4a64">NgxAsidePanelRight</span>
           (<span style="color:#3a4a64">cancel</span>)=<span style="color:#409b1c">"onCancel()"</span>
           (<span style="color:#3a4a64">submit</span>)=<span style="color:#409b1c">"onSave()"</span>

           [<span style="color:#3a4a64">closeOnEscape</span>]=<span style="color:#409b1c">"false"</span>
           [<span style="color:#3a4a64">showOverlay</span>]=<span style="color:#409b1c">"false"</span>
           [<span style="color:#3a4a64">showDefaultFooter</span>]=<span style="color:#409b1c">"false"</span>
           [<span style="color:#3a4a64">showDefaultHeader</span>]=<span style="color:#409b1c">"false"</span>

></span>

    <span style="color:#3a4a64">&lt;<span style="color:#3a4a64">header</span> <span
            style="color:#3a4a64">style</span>=<span style="color:#409b1c">"padding: 10px; background-color:#607d8b; color: #fafafa "</span>></span>My own header with own styles<span
        style="color:#3a4a64">&lt;/<span style="color:#3a4a64">header</span>></span>

    <span style="color:#3a4a64">&lt;<span style="color:#3a4a64">h1</span>></span>Sidebar content<span
        style="color:#3a4a64">&lt;/<span style="color:#3a4a64">h1</span>></span>

    <span style="color:#3a4a64">&lt;<span style="color:#3a4a64">footer</span> <span
            style="color:#3a4a64">style</span>=<span
            style="color:#409b1c">"padding: 20px; background-color: #009688;"</span>></span>
        My own footer, with custom buttons
        <span style="color:#3a4a64">&lt;<span style="color:#3a4a64">button</span> (<span
                style="color:#3a4a64">click</span>)=<span
                style="color:#409b1c">"NgxAsidePanelRight.hide()"</span>></span>
            Close
        <span style="color:#3a4a64">&lt;/<span style="color:#3a4a64">button</span>></span>
    <span style="color:#3a4a64">&lt;/<span style="color:#3a4a64">footer</span>></span>

<span style="color:#3a4a64">&lt;/<span style="color:#3a4a64">ngx</span><span style="color:#3a4a64">-aside</span>></span>

</pre>
</div>
