<button (click)="NgxAsidePanelLeft.show()">Show Aside from Left side</button>
<button (click)="NgxAsidePanelRight.show()">Show Aside from Right side</button>

<ngx-aside #NgxAsidePanelLeft 
[position]="'left'"

[title]="'Aside title'"
[cancelButtonTitle]="'Discard'"
[submitButtonTitle]="'Send'"
>
    <h1> Test Aside Left panel</h1>

    <code>Default configuration</code>
    <code>

    </code>
</ngx-aside>


<ngx-aside #NgxAsidePanelRight
           (cancel)="onCancel()"
           (submit)="onSave()"
           
           [closeOnEscape]="false"
           [showOverlay]="false"
           [showDefaultFooter]="false"
           [showDefaultHeader]="false"
           
           >

    <header style="padding: 10px; background-color:#607d8b; color: #fafafa ">My own header with own styles</header>

    <h1>Sidebar content</h1>


    <footer style="padding: 20px; background-color: #009688;">
        My own footer, with custom buttons
        <button (click)="NgxAsidePanelRight.hide()">
            Close
        </button>
    </footer>

</ngx-aside>
