<button (click)="NgxAsidePanelLeft.show()">Show Aside from Left side</button>
<button (click)="NgxAsidePanelRight.show()">Show Aside from Right side</button>

<ngx-aside #NgxAsidePanelLeft [position]="'left'">
  <h1>Test Aside Right panel</h1>
  fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer
  lacinia.
</ngx-aside>


<ngx-aside #NgxAsidePanelRight (cancel)="onCancel()" (submit)="onSave()" [closeOnEscape]="true" [showOverlay]="false" [showDefaultFooter]="true"
  [showDefaultHeader]="true">
  <h1>Test Aside Right panel</h1>

   Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.


</ngx-aside>
