/* Styles go here */

.demo {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #56727C;
  color: #fafafa;

}

.hamburger {
  margin: 10px;
}